.view-doc th {
    height: 45px;
    padding: 0px 5px;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    color: #8E8E8E;
    background: #E3E3E333;
}

.view-doc th:first-child {
    border-radius: 5px 0px 0px 5px;
}

.view-doc th:last-child {
    border-radius: 0px 5px 5px 0px;

}

.view-doc td {
    padding: 0px 5px;
    height: 60px;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    color: #061D3C;
    border-bottom: 1px solid #EBEBEB;
}