.carousel-card-body {
    position: relative;
    background: var(--cardBgColor, #BADFC5);
    height: 180px;
    border-radius: 10px;
    padding: 20px 15px 20px 15px;
    color: var(--cardColor, white);
}

.carousel-card-body p.title {
    font-size: 11px;
    font-weight: 600;
}

span.lr-arrow {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

span.lr-arrow lightning-icon {
    --slds-c-icon-color-foreground-default: white;
    cursor: pointer;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slides div.slide {
    min-width: 100%;
}

.carousel .mb-2 {
    margin-bottom: 0.5rem !important;
}

.carousel .sub-title {
    font-size: 15px;
    font-family: 'Inter-Bold';
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}

.carousel .description {
    font-size: 11px;
    font-family: 'Inter-Regular';
}

.carousel .description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
}